* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .offers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1000px;
  }
  
  .offer {
    text-decoration: none;
    color: black;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .offer img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .offer-title {
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  
  .offer:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}