.icon-trash {
    width: 16px; /* Largeur réduite */
    height: 16px; /* Hauteur réduite */
    cursor: pointer;
    display: inline-block; /* Permet à l'image d'être centrée avec son conteneur */
}
