.product-card {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    vertical-align: top;
}

.product-card .product-info {
    text-align: center;
}

.product-card .product-info h4 {
    font-weight: bold;
    margin-top: 0;
}

.product-card .quantity {
    margin-top: 10px;
}

.product-card .quantity label {
    margin-left: 10px;
}
